:root {
  --pink: hsl(322, 100%, 66%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
  --title: font-family: 'Poppins', sans-serif;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 30px 20px 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8em;
}

.logo {
    width: 125px;
    height: 20px;
}

.button {
    background-color: white;
    width: 125px;
    height: 35px;
    border-radius: 25px;
    border: 0 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 0.85em;
}
