:root {
  --pink: hsl(322, 100%, 66%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", "Poppins", sans-serif;
}

.container {
  padding: 30px 20px 0;
  background-image: url(../images/bg-hero-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8em;
}

.logo {
  width: 125px;
  height: 20px;
}

.button {
  background-color: white;
  width: 125px;
  height: 35px;
  border-radius: 25px;
  border: 0 solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 0.85em;
}

.section {
  margin: 0 15px;
}

.title {
  font-size: 1.8em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.paragraph {
  text-align: center;
  line-height: 1.5em;
  margin: 0 15px;
  margin-bottom: 2em;
}

.button.free {
  width: 70%;
  height: 50px;
  margin: 0 60px 5em;
  background-color: var(--pink);
  color: white;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.illustration {
  width: 100%;
  margin-bottom: 3em;
}
